In [2]:
import pandas as pd
import numpy as np

In [4]:
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd

# Initialize data to lists.
data = [{'a': 1, 'b': 2},
		{'a': 10,  'c': 30}]

# Creates DataFrame.
df = pd.DataFrame(data)

# Print the data
df

    a    b     c
0   1  2.0   NaN
1  10  NaN  30.0